<% if current_user %>
  <h2>Recent Notifications</h2>
  <% if @notifications.any? %>
  <% @notifications.each do |notification| %>
    <div class='notification'>
      <small><%= notification.to %> <time style='color:#aaa;'><%= notification.created_at %></time></small><br>
      <strong><%= notification.subject %></strong><br>
      <%= notification.body %>
    </div>
  <% end %>
  <% else %>
    <p>No recent notifications.</p>
  <% end %>
<% else %>
  <%= render 'public' %>
<% end %>
